.fullScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/space 2.jpeg');
  background-size: cover;
  background-position: center;
}
main{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.gameBoard{
  width: 36rem;
  height: 75vh;
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
}
.square{
  width: 12rem;
  height: 25vh;
  border: 5px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross ,.circle{
  font-size: 100px;
  font-weight: bold;
}
.cross{
  color: red;
}
.circle{
  color: blue;
}
.sentance{
  color: brown;
}